<!DOCTYPE html>
<html lang="en">
  <link href="cssstyles.css"type="text/css"rel="stylesheet">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="index.html">Introductory Page</a>
  <a href="index.html#Stocks">Page 1 Stocks</a>
  
  <h2>Form Page</h2>

  <input type="date" name="Today's date"/>

  <h4>Credentials</h4>
  <p>
  <form action="/actionpage.py" target="blank">
    Username: <input type="text" name="name"><br>
    Password: <input type="text" name="msg"><br>
    <input type="submit" value="Submit">
  </form>
  
  <p>Following services:
  <ol>
    <li>Stockbroker</li>
    <li>Betting Advice</li>
    <li>Real estate Agent</li>
  </ol>
  </p>

  <td>
    Service:<br>
      <input type="radio" name="pmt" checked>Stockbroker<br>
      <input type="radio" name="pmt" >Betting Advice<br>
      <input type="radio" name="pmt" >Real Estate Agent
  </td>

  <h2>Net Income</h2>
          <input type="checkbox" value="Bike">>50k<br>
          <input type="checkbox" value="Car"><50k
      </td>          

      <h1></h1>Long Term Plan:</h1> <br>
      <select Goal="goal">
        <option >Retirement</option>
        <option >Tax</option>
        <option >Investments</option>
        <option >Real Estate</option>
      </select>
    </td>

  </p>

</body>

</html>



